<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.mall.dao.model.Config">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="config_id" jdbcType="INTEGER" property="configId" />
    <result column="conf_key" jdbcType="VARCHAR" property="confKey" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="value" jdbcType="LONGVARCHAR" property="value" />
  </resultMap>
</mapper>