<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.mall.dao.model.Product">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="main_pic" jdbcType="VARCHAR" property="mainPic" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="sale_count" jdbcType="INTEGER" property="saleCount" />
    <result column="describ" jdbcType="LONGVARCHAR" property="describ" />
    <result column="sub_title" jdbcType="LONGVARCHAR" property="subTitle" />
  </resultMap>

  <select id="selectProductById" resultMap="BaseResultMap">
    select * from product p where p.product_id=#{productId}
  </select>

  <select id="selectProductByCategory" resultMap="BaseResultMap">
    select * from product p where p.category=#{category} order by p.publish_time desc limit #{start},#{end}
  </select>

  <select id="selectProductCountByCategory" resultType="java.lang.Integer">
    select count(*) from product p where p.category=#{category}
  </select>
</mapper>