<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.mall.dao.model.Address">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_default" jdbcType="INTEGER" property="isDefault" />
  </resultMap>
</mapper>